.panel1 {
    -fx-background-color: #00b4d8;
}
.panel2 {
    -fx-background-color: #ffffff;
}

.boton {
    -fx-font-size: 24px;
    -fx-text-fill: black;
    -fx-background-color: #bde0fe;
    -fx-font-family: "Segoe UI";
}


.boton_mini {
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-background-color: #bde0fe;
    -fx-font-family: "Segoe UI";
}

.boton:hover{
    -fx-border-color: #3a86ff;
    -fx-border-style: solid;
    -fx-border-radius: 3px;
}

.boton_mini:hover{
    -fx-border-color: #3a86ff;
    -fx-border-style: solid;
    -fx-border-radius: 1px;
}

.formulario {
    fx-margin-top: 10px;
}