@font-face {
    font-family: "MiFuentePersonalizada";
    src: url('Roboto-Regular.ttf');
}


.panel1 {
    -fx-background-color: #1d3557;
}
.panel2 {
    -fx-background-color: #ffffff;
}

.boton {
    -fx-font-size: 24px;
    -fx-background-color: #457b9d;
    -fx-text-fill: white;
    -fx-font-family: "MiFuentePersonalizada";
}


.texto {
    -fx-font-size: 24px;
    -fx-alignment: center;
    -fx-padding: 0px 0px 0px 20px;
}

.texto_venta {
    -fx-font-size: 24px;
    -fx-alignment: center;
    -fx-padding: 10px 0px 0px 0px;
}
.boton_mini {
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-background-color: #bde0fe;
    -fx-font-family: "Segoe UI";
}

.boton:hover{
    -fx-border-color: #3a86ff;
    -fx-border-style: solid;
    -fx-border-radius: 3px;
}

.boton_mini:hover{
    -fx-border-color: #3a86ff;
    -fx-border-style: solid;
    -fx-border-radius: 1px;
}

.formulario {
    fx-margin-top: 10px;
}