.panel1 {
    -fx-background-color: #00b4d8;
}
.panel2 {
    -fx-background-color: #48cae4;
}

.boton {
    -fx-background-color: #ffffff;
    -fx-font-size: 28px;
    -fx-font-family: "Times New Roman";
    -fx-border-color: white;
    -fx-border-radius: 2px;
    -fx-border-style: solid;
}

.boton:hover{
    -fx-background-color: #ade8f4;
}

.formulario {
    fx-margin-top: 10px;
}